<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Listing</h5>
    </li>
    <li class="breadcrumb-item">Listing Management</li>
    <li class="breadcrumb-item">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i>
      </a>
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Listing Management</h4>
          </div>
          <div class="card-body">
            <form class="form-group" #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)">
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input id="title" [(ngModel)]="listing.title" name="title" class="form-control" required #title="ngModel" />
                <div *ngIf="title.invalid && (title.dirty || title.touched || eventForm.submitted)" class="alert alert-danger form">
                  <div *ngIf="title.errors?.['required']">Title is required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input id="description" [(ngModel)]="listing.description" name="description" class="form-control" required #description="ngModel" />
                <div *ngIf="description.invalid && (description.dirty || description.touched || eventForm.submitted)" class="alert alert-danger form">
                  <div *ngIf="description.errors?.['required']">Description is required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input id="address" [(ngModel)]="listing.address" name="address" class="form-control" required #address="ngModel" />
                <div *ngIf="address.invalid && (address.dirty || address.touched || eventForm.submitted)" class="alert alert-danger form">
                  <div *ngIf="address.errors?.['required']">Address is required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="amneties" class="form-label">Amneties</label>
                <input id="amneties" [(ngModel)]="listing.amneties" name="amneties" class="form-control" required #amneties="ngModel" />
                <div *ngIf="amneties.invalid && (amneties.dirty || amneties.touched || eventForm.submitted)" class="alert alert-danger form">
                  <div *ngIf="amneties.errors?.['required']">Amneties are required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="availability" class="form-label">Availability</label>
                <input id="availability" [(ngModel)]="listing.availability" name="availability" class="form-control" required #availability="ngModel" />
                <div *ngIf="availability.invalid && (availability.dirty || availability.touched || eventForm.submitted)" class="alert alert-danger form">
                  <div *ngIf="availability.errors?.['required']">Availability is required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="houseRules" class="form-label">House Rules</label>
                <input id="houseRules" [(ngModel)]="listing.houseRules" name="houseRules" class="form-control" required #houseRules="ngModel" />
                <div *ngIf="houseRules.invalid && (houseRules.dirty || houseRules.touched || eventForm.submitted)" class="alert alert-danger form">
                  <div *ngIf="houseRules.errors?.['required']">House Rules are required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="photos" class="form-label">Photos</label>
                <input type="file" (change)="selectFiles($event)" class="form-control m-1" style="width: auto;" placeholder="Upload file" multiple>
              </div>
              <button type="submit" class="btn btn-primary">Create Listing</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
