<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <a routerLink='/Events/EventsList'>
 
      <h5 class="page-title m-b-0">Events</h5></a>
    </li>

  
    <li class="breadcrumb-item">Event Details</li>
    <li class="breadcrumb-item">

      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>

  </ul>
    <div class="section-body">
      <div class="row">
        <div class="col-md-12 col-lg-8 col-xl-8 ">
          <div class="card">
            <div class="card-header">
              <h4>{{ event?.title }}</h4>
            </div>
            <div class="card-body">
              <img [src]="'http://localhost:5001/uploads/' + event?.image" alt="Event image" class="card-img-top">
              <p>{{ event?.description }}</p>
              <p><small class="text-muted">{{ event?.location }}</small></p>
              <p><small class="text-muted">Start: {{ event?.date_debut | date }}</small></p>
              <p><small class="text-muted">End: {{ event?.date_fin | date}}</small></p>
              <p><small class="text-muted">{{ event?.etat }}</small></p>
              <p>
                <small class="text-muted likers" [title]="getLikers(event)" >
                  <i class="fas fa-thumbs-up"></i> {{ event.likes }}
                </small>
              </p>
            
              <div *ngFor="let participant of event.participants">
                <p>Participants: {{ participant?.first_name }} {{ participant?.last_name }}</p>
              </div>
        
              <div *ngFor="let comment of event.comments" class="media mt-3 border p-3 mb-5" >
                <img class="mr-3 mt-1 rounded-circle"  style="border: 2px solid #000;" alt="User Image" width="60">
                <div class="media-body">
                  <h4 style="font-size: 0.9em;">{{ comment.user.first_name }} {{comment.user.last_name}} <small><i>Posted on {{ comment.date | date }}</i></small></h4>
                  <p style="font-size: 0.9em;">{{ comment.text }}</p>
                  
                </div>
              </div>
 <form (ngSubmit)="updateEvent(updateEventForm.value)" #updateEventForm="ngForm">
                <input type="text" [value]="event.title" ngModel name="title" placeholder="Title">
                <input type="text" [value]="event.description"ngModel name="description" placeholder="Description">
                <input type="text" [value]="event.location" ngModel name="location" placeholder="Location">
                <input type="datetime-local" [value]="event.date_debut" ngModel name="date_debut" placeholder="Date Debut">
                <input type="datetime-local" [value]="event.date_fin" ngModel name="date_fin" placeholder="Date Fin">
                <select [value]="event.etat" ngModel name="etat">
                  <option value="" disabled selected>Select Etat</option>
                  <option value="Ouvert">Ouvert</option>
                  <option value="Fermé">Fermé</option>
                  <option value="Annulé">Annulé</option>
                </select>
                <div></div>
                <button type="submit" class="btn-primary mt- mr-10 mb-3">Update Event</button>
                <button (click)="deleteEvent()" class="btn-danger mt-3">Delete Event</button>

         
           

            </form>

    

                </div>
              </div>
            </div>
          </div>
        </div>

  






  </section>