<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Events</h5>
    </li>
   
    <li class="breadcrumb-item">Events List</li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div *ngFor="let event of events" class="col-md-12 col-lg-8 col-xl-8 ">
        <div class="card">
          <div class="card-header">
            <h4><a [routerLink]="['/Events/eventdetails', event._id]">{{ event.title }}</a></h4>          </div>
          <div class="card-body">
            <img [src]="'http://localhost:5001/uploads/' + event.image" alt="Event image" class="card-img-top">
            <p>{{ event.description }}</p>
            <p><small class="text-muted">{{ event.location }}</small></p>
            <p><small class="text-muted">Start: {{ event.date_debut | date }}</small></p>
            <p><small class="text-muted">End: {{ event.date_fin | date}}</small></p>


            <p><small class="text-muted">{{ event.etat }}</small></p>
            <div *ngFor="let participant of event.participants">
              <p>Participant: {{ participant.first_name }} {{ participant.last_name }}</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</section>