.search-container
  position: relative
  display: flex
  align-items: center

.search-input
  width: 100%
  padding-right: 40px // Space for the icon

.search-icon
  position: absolute
  right: 20px
  cursor: pointer

.review-header
    display: flex
    align-items: center // Align items to the center
    margin-bottom: 5px // Space between username and comment
    strong
      margin-right: 10px // Space between username and stars


.review-comment 
    margin-left: 0.5px // Indent the comment
  

