.form-control {
    display: flex;
    flex-direction: column;
    width:30%; 
    size: 10px;/* Adjust this value as needed */
  }
  .form {
    display: flex;
    flex-direction: column;
    width:30%; 
    size: 10px;/* Adjust this value as needed */
  }
